export(fwga)
export(fit_se)
export(fit_robust)
export(fit_tst)
export(fit_wtst)
export(fit_rand)
export(extract.metrics)
export(allMetU)
export(null1)
export(null2)
export(null3)
export(null4_7)
export(mgen)
export(mat_el)
export(el_mat)
import(vegan)
importFrom(sna, gtrans)
importFrom(tnet, clustering_w)
importFrom(reshape2, melt)
import(igraph)
import(NetIndices)
useDynLib(fwga)